.banner {
  margin-top: 0;
  text-transform: uppercase;
  background-color: var(--color-gray-min);
  padding: 120px 62px;
  display: flex;
  justify-content: space-between;
}

.banner h1 {
  font-size: 3.5rem;
}

.banner p {
  color: var(--color-gray-bold);
  margin-right: 42px;
}
