.section {
  /* margin-top: 36px; */
  text-transform: uppercase;
}

.section p {
  color: var(--color-gray);
}

.section h3 {
  margin: 4px 0 24px;
}

.section h4 {
  font-size: 1.3rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.product img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.product > div {
  margin: 18px 10px 0;
  text-align: center;
  line-height: 1.5;
}

.message {
  text-align: center;
}
