@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  font-style: italic;
}

:root {
  --color-primary: #161717;
  --color-secondary: #f39c12;
  --color-gray: #bdc3c775;
  --color-light: #ffffff;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  /* text-align: center; */
}

main,
nav {
  margin: 0 auto;
  width: 1200px;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

i {
  color: #bdc3c7;
  margin-right: 2px;
}

footer {
  background-color: var(--color-primary);
  color: var(--color-light);
}
